<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<display-name>Feedback App</display-name>

<servlet>
    <servlet-name>feedbackServlet</servlet-name>
    <servlet-class>feedback_app.feedbackServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>feedbackServlet</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>

</web-app>
